<div class="container"> 

  <div class="mat-row">

    <mat-form-field>
      <input matInput (keyup)="applyLastNameFilter($event.target.value)" placeholder="Фамилия">
    </mat-form-field>
    <mat-form-field>
  	  <mat-select placeholder="Должность" (change)=togglePosition($event.value)>
      	<mat-option *ngFor="let jobTitle of jobTitles" [value]="jobTitle.job_title_id" > {{ jobTitle.job_title_name }} </mat-option> 
      	<mat-option [value]="all"> Все </mat-option>
      </mat-select>
	</mat-form-field>
	<mat-form-field>
      <mat-select placeholder="Департамент" (change)=toggleDepartment($event.value)>
      	<mat-option *ngFor="let department of departments" [value]="department.department_id" > {{ department.department_name }} </mat-option> 
      	<mat-option [value]="all"> Все </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">

  <mat-table #table [dataSource]="dataSource">

    <!-- Фамилия -->
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef> Фамилия </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.lastname}} </mat-cell>
    </ng-container>
	
	<!-- Имя -->
      <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.firstname}} </mat-cell>
    </ng-container>
	
	<!-- Отчество -->
      <ng-container matColumnDef="patronymic">
      <mat-header-cell *matHeaderCellDef> Отчество </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.patronymic}} </mat-cell>
    </ng-container>

    <!-- Должность -->
      <ng-container matColumnDef="job_title">
      <mat-header-cell *matHeaderCellDef> Должность </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.job_title_name}} </mat-cell>
    </ng-container>

    <!-- Отдел -->
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef> Отдел </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.department_name}} </mat-cell>
    </ng-container>

	<!-- Фото --> 
     <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef> Фото </mat-header-cell>
      <mat-cell *matCellDef="let contact"> <img [src]="contact?.photo_url" width="100px"> </mat-cell>
    </ng-container>

	<!-- Редактирование --> 
	<ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let contact"> 
        <button mat-button color="primary" [routerLink] ="['/edit/' + contact.contact_id]"> Редактировать </button>
        <button mat-button color="primary"> Удалить </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

</div>

